#input1{
            position : absolute;
            left : 11.632870864461047%;
            right : auto;
            top : 86.86006825938567%;
            bottom : auto; 
            width : 5.016008537886873% !important;
            height : 45px;
            margin : 0;
            padding : 0;
        }
#input2{
            position : absolute;
            left : 35.432230522945574%;
            right : auto;
            top : 86.68941979522185%;
            bottom : auto; 
            width : 5.016008537886873% !important;
            height : 45px;
            margin : 0;
            padding : 0;
        }
#input3{
            position : absolute;
            left : 27.321237993596586%;
            right : auto;
            top : 86.68941979522185%;
            bottom : auto; 
            width : 5.016008537886873% !important;
            height : 45px;
            margin : 0;
            padding : 0;
        }
#input4{
            position : absolute;
            left : 19.316969050160086%;
            right : auto;
            top : 86.68941979522185%;
            bottom : auto; 
            width : 5.016008537886873% !important;
            height : 45px;
            margin : 0;
            padding : 0;
        }
#input5{
            position : absolute;
            left : 43.009605122732125%;
            right : auto;
            top : 86.51877133105802%;
            bottom : auto; 
            width : 5.016008537886873% !important;
            height : 45px;
            margin : 0;
            padding : 0;
        }
#image6{
            position : absolute;
            left : 11.312700106723586%;
            right : auto;
            top : 36.00682593856656%;
            bottom : auto;
            width : 14.194236926360727% !important;
            height : 226px;
            margin : 0;
            padding : 0;
        }
#image7{
            position : absolute;
            left : 38.84738527214515%;
            right : auto;
            top : 35.83617747440273%;
            bottom : auto;
            width : 14.194236926360727% !important;
            height : 226px;
            margin : 0;
            padding : 0;
        }
#input8{
            position : absolute;
            left : 11.52614727854856%;
            right : auto;
            top : 27.815699658703068%;
            bottom : auto; 
            width : 41.51547491995731% !important;
            height : 22px;
            margin : 0;
            padding : 0;
        }
#input9{
            position : absolute;
            left : 11.419423692636073%;
            right : auto;
            top : 20.648464163822524%;
            bottom : auto; 
            width : 41.51547491995731% !important;
            height : 22px;
            margin : 0;
            padding : 0;
        }
