#input1{
            position : absolute;
            left : 9%;
            right : auto;
            top : 78%;
            bottom : auto; 
            width : 13% !important;
            height : 4% !important;
            margin : 0;
            padding : 0;
        }
#image2{
            position : absolute;
            left : 9%;
            right : auto;
            top : 44%;
            bottom : auto;
            width : 57% !important;
            height : 20% !important;
            margin : 0;
            padding : 0;
        }
#input3{
            position : absolute;
            left : 28%;
            right : auto;
            top : 24%;
            bottom : auto; 
            width : 13% !important;
            height : 4% !important;
            margin : 0;
            padding : 0;
        }
#input4{
            position : absolute;
            left : 8%;
            right : auto;
            top : 24%;
            bottom : auto; 
            width : 13% !important;
            height : 4% !important;
            margin : 0;
            padding : 0;
        }
#input5{
            position : absolute;
            left : 50%;
            right : auto;
            top : 24%;
            bottom : auto; 
            width : 13% !important;
            height : 4% !important;
            margin : 0;
            padding : 0;
        }
