
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Default input</label>
                    <input type="text" class="form-control" placeholder="Default input">
                </div>
                
                <div class="container">
                    <img src={{ url_for('static', filename = 'images/placeholder.png') }} width="20%" height="20%">
                </div>
                
                <div class="container">
                    <img src={{ url_for('static', filename = 'images/placeholder.png') }} width="20%" height="20%">
                </div>
                
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Default input</label>
                    <input type="text" class="form-control" placeholder="Default input">
                </div>
                
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Default input</label>
                    <input type="text" class="form-control" placeholder="Default input">
                </div>
                