
                <div class="" >
                    <input type="checkbox"   id="input1"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input2"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input3"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input4"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input5"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="container">
                    <img class="" src={{ url_for('static', filename = 'images/placeholder.png') }} id="image6" >
                </div>
                
                <div class="container">
                    <img class="" src={{ url_for('static', filename = 'images/placeholder.png') }} id="image7" >
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input8"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input9"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input1"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input2"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input3"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input4"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input5"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="container">
                    <img class="" src={{ url_for('static', filename = 'images/placeholder.png') }} id="image6" >
                </div>
                
                <div class="container">
                    <img class="" src={{ url_for('static', filename = 'images/placeholder.png') }} id="image7" >
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input8"  class="form-control" placeholder="Default input">
                </div>
                
                <div class="" >
                    <input type="checkbox"   id="input9"  class="form-control" placeholder="Default input">
                </div>
                