
                <div class="">
                    <label class="col-form-label" for="inputDefault">Default input</label>
                    <input type="text"  id="1"   class="form-control" placeholder="Default input">
                </div>
                
                <div class="">
                    <label class="col-form-label" for="inputDefault">Default input</label>
                    <input type="text"  id="2"   class="form-control" placeholder="Default input">
                </div>
                
                <div class="container">
                    <img class="form-group" src={{ url_for('static', filename = 'images/placeholder.png') }} id="3" >
                </div>
                
                <div class="container">
                    <img class="form-group" src={{ url_for('static', filename = 'images/placeholder.png') }} id="4" >
                </div>
                
                <div class="container">
                    <img class="form-group" src={{ url_for('static', filename = 'images/placeholder.png') }} id="5" >
                </div>
                